@charset "utf-8";

//初始化样式
.reset-css(){
	 html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
	 html,body{
   			height: 100%;
   			width: 100%;
    		margin:0;
    		padding: 0;
    		overflow-x: hidden;
    		font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
		}
	* {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

}


.height_diy(@h:100%){
	height: @h;
}

//执行部分
.reset-css();
 .heightFull{
 	.height_diy()
 }